{% extends 'profile/base.html' %}
{% block header %}
<script type="text/javascript" language="javascript">
    $(function() {
            $("#datepicker-start, #datepicker-end").datepicker({ 
                        minDate: "{{ min_date }}", 
                        maxDate: '{{ today }}',
                        showOn: "button",
                        buttonImage: "/static/images/notebook74.png",
                        buttonImageOnly: true,
                        dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
     });
</script>

{% endblock header %}
{% block nav-adv-stats %}
class="active"
{% endblock %}
{% block content %}
<div class="input-group" id="date-panel">
    <p><center><h3> Choose an interval: </h3></center></p>
        <form method="post" action="date">
            <div id="datepicker-div">
                <label> Start Date: </label>
                <input type="text" id="datepicker-start" name="datepicker-start" />
                &nbsp;
                &nbsp;
                &nbsp;
                <label> End Date: </label>
                <input type="text" id="datepicker-end" name="datepicker-end" />
                {% csrf_token %}
            </div>
            <div id="date-submit-button-div">
                <button class="btn btn-primary" type="submit" name="submit-date" id="date-submit-button">Submit</button>
            </div>
        </form>
</div>
{{ min_date }}
{% endblock %}
