{% extends 'profile/base.html' %}
{% block header %}
<script type="text/javascript" language="javascript">
    $(function() {
            $("#datepicker").datepicker({ 
                        minDate: "-90D", 
                        maxDate: 'today',
                        showOn: "button",
                        buttonImage: "/static/images/notebook74.png",
                        buttonImageOnly: true,
                        dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
     });
</script>

{% endblock header %}
{% block nav-adv-stats %}
class="active"
{% endblock %}
{% block content %}
<div class="input-group" id="date-panel">
    <form method="post" action="date">
        <div id="datepicker-textbox-div">
            <p><center> Choose a date: </center></p>
            <input type="text" id="datepicker" name="datepicker">
            {% csrf_token %}
        </div>
        <div id="date-submit-button-div">
            <button class="btn btn-primary" type="submit" name="submit-date" id="date-submit-button">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
