<head>
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/jquery/css/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script language="javascript" type="text/javascript" src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery/js/jquery-1.11.3.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery/js/jquery-ui.js"></script>
    {% block header %}
    {% endblock header %}
    <link href="/static/overriddings/bootstrap-extra.css" rel="stylesheet">
    <link href="/static/overriddings/profile.css" rel="stylesheet">
</head>
<body id="authentication_page">
<div id="authentication_form"> 
    <div id="brand_login_div">
    <p class="navbar-brand"  id="brand_login" style="text-align: center;">vPersonna</p></center>
    </div>
    <div>
    </div>
    <form action="/login" method="post">
        {% csrf_token %}
        <div class="form-group" id="username-group">
            <label for="username"> Username: </label>
            <input type="text" name="username" value="{{ username}}" id="username" class="form-control" placeholder="Username"/><br />
        </div>
        <div class="form-group" id="password-group">
            <label for="password"> Password: </label>
            <input type="password" name="password" value="{{ password }}" id="password" class="form-control" placeholder="Password"/><br />
        </div>
        <center><p style="text-align: center;"> {{ state }} </p></center>
        <div class="form-group" id="button-login">
            <input type="submit" value="Log In" class="btn btn-default" id="login"/>
        </div>
    </form>
</div>
</body>
