<head>
<link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/overriddings/bootstrap.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse" id="banner">
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
</nav>
{% block content %}
{% endblock %}
</body>
