{% extends 'profile/base.html' %}
{% block content %}
<div class="page-header" id="dashboard-header">
	<h1>Change password</h1>
</div>
</br>
<form method="POST" class="post-form">{% csrf_token %}
       	{{ form.as_p }}
       	<button type="submit" class="save btn btn-default">Save</button>
        <button type="cancel" class="btn btn-default" onclick="window.location='{% url 'dashboard' %}';return false;">
                Cancel</button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
</form>

{% endblock %}
