{% extends 'profile/base.html' %}
{% block header %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Trafic Type', 'Number of hours'],
                {% for traffic_type, value in dashboard_dict.items %}
                ['{{ traffic_type }}', {{ value }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Current Mounth',
                is3D: true,
                backgroundColor: 'white',
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
      }
    </script>
{% endblock header %}
{% block nav-dash %}
    class="active"
{% endblock %}
{% block content %}
    <div class="highlight">
        <div class="panel panel-default" id="top-sites-frame">
            <table class="table" id="top-sites">
                <tr>
                    <th>Top Ranked</th>
                    <th>IP</th>
                    <th>Accessed</th>
                </tr>
                {% for domain,ip,access in top_rate_sites_matrix %}
                <tr>
                    <td>{{ domain }} </td>
                    <td>{{ ip }} </td>
                    <td>{{ access }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel panel-default" id="main-chart">
            <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
        </div>
    </div>
           
{% endblock %}
