{% extends 'profile/base.html' %}
{% block header %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "bar"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data_piechart = google.visualization.arrayToDataTable([
                ['Trafic Type', 'Number of hours'],
                {% for traffic_type, value in dashboard_dict.items %}
                ['{{ traffic_type }}', {{ value }}],
                {% endfor %}
            ]);

            var data_donut_old = google.visualization.arrayToDataTable([
                ['Trafic Type', 'Number of hours'],
                {% for traffic_type, value in dashboard_dict.items %}
                ['{{ traffic_type }}', {{ value }}],
                {% endfor %}
            ]);

            var data_donut_older = google.visualization.arrayToDataTable([
                ['Trafic Type', 'Number of hours'],
                {% for traffic_type, value in dashboard_dict.items %}
                ['{{ traffic_type }}', {{ value }}],
                {% endfor %}
            ]);

            var data_donut_oldest = google.visualization.arrayToDataTable([
                ['Trafic Type', 'Number of hours'],
                {% for traffic_type, value in dashboard_dict.items %}
                ['{{ traffic_type }}', {{ value }}],
                {% endfor %}
            ]);

            var data_linechart_topsites = google.visualization.arrayToDataTable([
                ['Site', 'Rank'],
                {% for domain,ip,access in top_rate_sites_matrix %}
                ['{{ domain }}', {{ access }}],
                {% endfor %}
            ]);    

            var today = new Date();
            var last_date = new Date();
            var month = new Array();
            month[0] = "January";
            month[1] = "February";
            month[2] = "March";
            month[3] = "April";
            month[4] = "May";
            month[5] = "June";
            month[6] = "July";
            month[7] = "August";
            month[8] = "September";
            month[9] = "October";
            month[10] = "November";
            month[11] = "December";

            var crt_month = today.getMonth();
            var last_compute_month = today.getMonth();
            
            var options_3d_piechart = {
                title: month[crt_month] +" " + today.getFullYear(),
                is3D: true,
                backgroundColor: 'white',
            };

            last_date.setMonth(today.getMonth() - 1); 
            last_compute_month = last_date.getMonth();
            var options_donutchart_old = {
                title: month[last_compute_month] +" " + last_date.getFullYear(),
                pieHole: 0.4,
                legend: {position: 'none'},
            };

            last_date.setMonth(today.getMonth() - 2); 
            last_compute_month = last_date.getMonth();
            var options_donutchart_older = {
                title: month[last_compute_month] +" " + last_date.getFullYear(),
                pieHole: 0.4,
                legend: {position: 'none'},
            };

            last_date.setMonth(today.getMonth() - 3); 
            last_compute_month = last_date.getMonth();
            var options_donutchart_oldest = {
                title: month[last_compute_month] +" " + last_date.getFullYear(),
                pieHole: 0.4,
                legend: {position: 'none'},
            };


            var options_linechart_topsites = {
                title: 'Top 5 Sites',
                legend: { position: 'none' },
                chart: { title: 'Top 5 Sites',
                    subtitle: 'popularity by number of accesses' },
                bars: 'horizontal', // Required for Material Bar Charts.
                axes: {
                    x: {
                        0: { side: 'top', label: 'Accesses'} // Top x-axis.
                    }
                },
                bar: { groupWidth: "90%" }
            };


            var chart_piechart_3d = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart_piechart_3d.draw(data_piechart, options_3d_piechart);
            var chart_donutchart_old = new google.visualization.PieChart(document.getElementById('donutchart-old'));
            chart_donutchart_old.draw(data_donut_old, options_donutchart_old);
            var chart_donutchart_older = new google.visualization.PieChart(document.getElementById('donutchart-older'));
            chart_donutchart_older.draw(data_donut_older, options_donutchart_older);
            var chart_donutchart_oldest = new google.visualization.PieChart(document.getElementById('donutchart-oldest'));
            chart_donutchart_oldest.draw(data_donut_oldest, options_donutchart_oldest);
            var chart_linechart_topsites = new google.charts.Bar(document.getElementById('top_x_div'));
            chart_linechart_topsites.draw(data_linechart_topsites, options_linechart_topsites);
      }
    </script>
    
{% endblock header %}
{% block nav-dash %}
    class="active"
{% endblock %}
{% block content %}
    <div class="page-header" id="dashboard-header">
        <h1> Dashboard </h1>
    </div>
    <div id="traffic-statistics-frame">
        <div class="panel" id="last-mounths-charts"> 
            
            <div class="panel" id="last-mounth-chart"> 
                <div id="donutchart-old" style="width: 100%; height: 100%;"></div>
            </div>
            <div class="panel" id="two-mounths-chart"> 
                <div id="donutchart-older" style="width: 100%; height: 100%;"></div>
            </div>
            <div class="panel" id="three-mounths-chart"> 
                <div id="donutchart-oldest" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
        <div class="panel" id="current-mounth-chart"> 
            <div id="piechart_3d" style="width: 100%; height: 100%;"></div>
        </div>
        <div  id="news-slot"> 
            <div id="news-feed" class="bs-callout bs-callout-info">
                <h4> News Feed </h4>
                <p> TODO </p>
            </div>
        </div>
    </div>
    <div id="top-sites-frame">
        <div class="panel" id="top-sites-table-panel">
            <table class="table table-striped" id="top-sites">
                <tr>
                    <th></th>
                    <th>Top 5 Accessed Sites</th>
                    <th></th>
                </tr>
                {% for domain,ip,access in top_rate_sites_matrix %}
                <tr>
                    <td>{{ domain }} </td>
                    <td>{{ ip }} </td>
                    <td>{{ access }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel" id="top-sites-chart-panel">
            <div id="top_x_div" style="width: 80%; height: 100%;"></div>
        </div>
    </div>
           
{% endblock %}
