<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td><center><b>Client</b></center></td>
                <td><center><b>Email</b></center></td>
                <td><center><b>Access Profile</b></center></td>
            </tr>
        </thead>
        <tbody>
        {% for client in client_list %}
            <tr>
                <td> {{ client.id }} </td> 
                <td> {{ client.name }} </td> 
                <td> {{ client.email }} </td> 
                <td><a href="{{ client.id }}/dashboard">User Page</a></td>
            </tr>
        {% endfor %} 
        </tbody>
</table>
