{% extends 'profile/base.html' %}
{% block header %}
{% endblock %}
{% block nav-res-mng %}
class="active"
{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th> # </th>
                <th> Type of service </th>
                <th> Bandwidth percent </th>
                <th> Destination address (opt) </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for rule in rules_list %}
            <tr>
                <td> {{ rule.id }} </td> 
                <td> {{ rule.type_of_service }} </td> 
                <td> {{ rule.bandwidth_percent }} </td> 
                <td> {{ rule.destination_address }} </td>
                <td>  
                    <a class="btn btn-default" href="{% url 'rule_update' pk=rule.pk %}">
                        <span class="glyphicon glyphicon-pencil">
                        </span>
                    </a>
                    <a class="btn btn-default" href="{% url 'rule_delete' pk=rule.pk %}">
                        <span class="glyphicon glyphicon-remove-sign">
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %} 
        </tbody>
    <table>
    <a href="{% url 'vprofile.views.rule_edit' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}
