{% extends 'profile/base.html' %}
{% block header %}
{% endblock header %}
{% block nav-transactions %}
class="active"
{% endblock %}
{% block content %}
    <div class="page-header" id="dashboard-header">
        <h1> Activity logs </h1>
    </div>
    </br>
    <div class="container">
        <table class="table table-bordered table-hover" id="tab_logic">
            <thead>
                <tr>
                     <th class="text-center">#</th>
                     <th class="text-center">Activity Description</th>
                     <th class="text-center">Date</th>
                     <th class="text-center">Issuer</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                <tr>
                    <td> {{ forloop.counter }} </td> 
                    <td>{{ activity.description }}</td>
                    <td>{{ activity.date }} </td>
                    <td>{{ activity.issuer }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
