#banner.navbar.navbar-inverse{
	background-color: #121; 
	min-height: 100px; 
}
#brand.navbar-brand{
    font-family: 'Indie Flower';
    font-size: 2.5em;
    position: relative;
    top: +25px;
}
#pages-bar{
    position: relative;
    top: +25px;
}

#top-sites-frame.panel.panel-default{
    margin: 0 auto;
    position: relative;
    top: +10px;
    white-space: nowrap;
    width: 50%;
    margin: 0 auto;
    float: center;
    /*visibility: hidden;*/
}

#last-mounths-charts.panel.panel-default{
    width: 20%;
    height: 600px;
    float:left;
    display: table-cell;
}

#last-mounth-chart.panel{
    width: 100%;
    height: 33%;
    margin-bottom: 0px;
}
#two-mounths-chart.panel{
    width: 100%;
    height: 33%;
    margin-bottom: 0px;
}
#three-mounths-chart.panel{
    width: 100%;
    height: 33%;
    margin-bottom: 0px;
}
#current-mounth-chart.panel.panel-default{
    width: 60%;
    height: 600px;
    float: center;
    display: inline-block;
}
#news-slot{
    width: 20%;
    height: 600px;
    float: right;
    display: inline-block;
}

#news-feed.bs-callout.bs-callout-info{
    margin: 0px 0px;
	max-height: 100%; 
    overflow-y: auto;
};
