{% extends 'profile/admin/base.html' %}
{% block header %}
{% endblock %}
{% block nav-alloc %}
class="active"
{% endblock %}
{% block content %}
<div class="page-header" id="dashboard-header">
        <h1> IP Allocation Management </h1>
</div>
<div id="admin_action_block">
    <p> Welcome {{ superuser_name }}! &nbsp &nbsp
    <input class="btn btn-info" type="button" onclick='location.href="{% url 'logout' %}"'
       value="Logout"/>
    </p>
</div>
</br>
</br>
<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td><center><b>Client</b></center></td>
                <td><center><b>IPAddr</b></center></td>
                <td><center><b>Action</b></center></td>
            </tr>
        </thead>
        <tbody>
        {% for alloc in ip_alloc_list %}
            <tr>
                <td> {{ forloop.counter }} </td> 
                <td> {{ alloc.client }} </td> 
                <td> {{ alloc.ip_addr }} </td> 
                <td><center>
                    <a class="btn btn-default" href="{% url 'ipalloc_update' pk=alloc.pk %}">
                        <span class="glyphicon glyphicon-pencil">
                        </span>
                    </a>
                    <a class="btn btn-default" href="{% url 'ipalloc_delete' pk=alloc.pk %}">
                        <span class="glyphicon glyphicon-remove-sign">
                        </span>
                    </a>
                </center></td>
            </tr>
        {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <td></td> 
                <td></td> 
                <td></td> 
                <td><center>
                    <a href="{% url 'new_ip_alloc' %}" >Add new ip allocation  
                            <span class="glyphicon glyphicon-plus">
                            </span>
                    </a>
                </center></td>
            </tr>
        </tfoot>
</table>
{% endblock %}
