<head>
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/jquery/css/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script language="javascript" type="text/javascript" src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery/js/jquery-1.11.3.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery/js/jquery-ui.js"></script>
    <link href="/static/overriddings/bootstrap-extra.css" rel="stylesheet">
    <link href="/static/overriddings/profile.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse" id="banner">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" id="brand">
                    vPersonna
                </div>
            </div>
        </div>
    </nav>
<div id="padding">

<div class="page-header" id="dashboard-header">
	<h1>New Allocation</h1>
</div>
</br>
<form method="POST" class="post-form">{% csrf_token %}
       	{{ form.as_p }}
       	<button type="submit" class="save btn btn-default">Save</button>
</form>
