{% extends 'profile/admin/base.html' %}
{% block header %}
{% endblock %}
{% block nav-news %}
class="active"
{% endblock %}
{% block content %}
<div class="page-header" id="dashboard-header">
        <h1> News & Commercials Management </h1>
</div>
<p> Welcome ADMIN USER ! </p>
<input class="btn btn-info" type="button" onclick='location.href="{% url 'logout' %}"'
       value="Logout"/>
</br>
</br>
<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td><center><b>Title</b></center></td>
                <td><center><b>Date</b></center></td>
                <td><center><b>IsActive</b></center></td>
                <td><center><b>Action</b></center></td>
            </tr>
        </thead>
        <tbody>
        {% for n in news %}
            <tr>
                <td> {{ forloop.counter }} </td> 
                <td> {{ n.title }} </td> 
                <td> {{ n.date }} </td> 
                <td> {{ n.active }} </td>
                <td>
                    <a class="btn btn-default" href="{% url 'news_update' pk=n.pk %}">
                        <span class="glyphicon glyphicon-pencil">
                        </span>
                    </a>
                    <a class="btn btn-default" href="{% url 'news_delete' pk=n.pk %}">
                        <span class="glyphicon glyphicon-remove-sign">
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="{% url 'new_post' %}" >Add new post 
                            <span class="glyphicon glyphicon-plus">
                            </span>
                    </a>
                </td>
            </tr>
        </tfoot>
</table>
{% endblock %}
